.conInfo{
    background: #dd103211;
    .content{
        background: linear-gradient(115de, $color-1 50%, transpat 100%);
        min-height: $min-height;
        width: 100%;
        min-height: 500px;
        border-radius: $borderRadius;
        position: relative;
        overflow: hidden;

       // position: absolute;
        //top: 20px;
        //left: 12px;
        //font-family: $font-1;

    }
    h1{
        font-size: 5rem;
        font-family: $font-3;
        color: $color-3;
        text-transform: uppercase;
        text-shadow: 3px 6px 2px black;
    }
}